<div class="row">
  <div class="col-8">
    <h1><%= "#{t(:new_game)}" %></h1>
  </div>
  <div class="col-4">
    <h6 class="float-right action-buttons">
      <%= icon_link_to 'level-up', t(:back), games_path %>
    </h6>
  </div>
</div>

<%= render 'form', game: @game %>
