body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  margin-top: 65px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:hover {
  color: #008;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.notice {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid green;
  border-radius: 3px;
  background-color: lightgreen;
  padding: 6px;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: -100px;
  max-width: 300px;
  transform: translate(-50%, 0);
  border: 2px solid red;
  border-radius: 3px;
  background-color: lightcoral;
  padding: 6px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.action-buttons i {
  margin: 10px 5px 0px 5px;
}

.card {
  margin-bottom: 10px;
}

.card-border-less {
  border-style: none;
}

.building_ban_banner {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px;
}